<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

{% extends 'rating.html' %}
<!-- Everywhere need to change -->

{% block content %}
<div class = "posttitle"><h2>Create a New Post</h2></div>
<!-- <a href = "st">back button</a> -->
<div class="card">
    <form method="post">
        <div class ="mt-3 mb-3 ms-3 me-3">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title"
                    placeholder="Post title" class="form-control"
                    value="{{ request.form['title'] }}"></input>
            </div>
        </div>

        <div class ="mb-3 ms-3 me-3">
            <label for="suburb">Suburb</label>
            <select class="form-select" id="suburb" name="suburb">
                <!-- <option selected disabled  -->
                    <option value="Abbotsford 3067">Abbotsford 3067</option>
                    <option value="Aberfeldie 3040">Aberfeldie 3040</option>
                    <option value="Airport West 3042">Airport West 3042</option>
                    <option value="Albanvale 3021">Albanvale 3021</option>
                    <option value="Albert Park 3206">Albert Park 3206</option>
                    <option value="Albion 3020">Albion 3020</option>
                    <option value="Alphington 3078">Alphington 3078</option>
                    <option value="Altona 3018">Altona 3018</option>
                    <option value="Altona Meadows 3028">Altona Meadows 3028</option>
                    <option value="Altona North 3025">Altona North 3025</option>
                    <option value="Ardeer 3022">Ardeer 3022</option>
                    <option value="Armadale 3143">Armadale 3143</option>
                    <option value="Arthurs Seat 3936">Arthurs Seat 3936</option>
                    <option value="Ascot Vale 3032">Ascot Vale 3032</option>
                    <option value="Ashburton 3147">Ashburton 3147</option>
                    <option value="Ashwood 3147">Ashwood 3147</option>
                    <option value="Aspendale 3195">Aspendale 3195</option>
                    <option value="Aspendale Gardens 3195">Aspendale Gardens 3195</option>
                    <option value="Attwood 3049">Attwood 3049</option>
                    <option value="Avondale Heights 3034">Avondale Heights 3034</option>
                    <option value="Avonsleigh 3782">Avonsleigh 3782</option>
                    <option value="Badger Creek 3777">Badger Creek 3777</option>
                    <option value="Balaclava 3183">Balaclava 3183</option>
                    <option value="Balnarring 3926">Balnarring 3926</option>
                    <option value="Balnarring Beach 3926">Balnarring Beach 3926</option>
                    <option value="Balnarring North">Balnarring North</option>
                    <option value="Balwyn 3103">Balwyn 3103</option>
                    <option value="Balwyn East">Balwyn East</option>
                    <option value="Balwyn North 3104">Balwyn North 3104</option>
                    <option value="Bangholme 3175">Bangholme 3175</option>
                    <option value="Baxter 3911">Baxter 3911</option>
                    <option value="Bayles 3981">Bayles 3981</option>
                    <option value="Bayswater 3153">Bayswater 3153</option>
                    <option value="Bayswater North 3153">Bayswater North 3153</option>
                    <option value="Beaconsfield 3807">Beaconsfield 3807</option>
                    <option value="Beaconsfield Upper 3808">Beaconsfield Upper 3808</option>
                    <option value="Beaumaris 3193">Beaumaris 3193</option>
                    <option value="Beenak 3139">Beenak 3139</option>
                    <option value="Belgrave 3160">Belgrave 3160</option>
                    <option value="Belgrave Heights 3160">Belgrave Heights 3160</option>
                    <option value="Belgrave South 3160">Belgrave South 3160</option>
                    <option value="Bellfield 3081">Bellfield 3081</option>
                    <option value="Bend of Islands 3097">Bend of Islands 3097</option>
                    <option value="Bentleigh 3204">Bentleigh 3204</option>
                    <option value="Bentleigh East 3165">Bentleigh East 3165</option>
                    <option value="Berwick 3806">Berwick 3806</option>
                    <option value="Beveridge 3753">Beveridge 3753</option>
                    <option value="Big Pats Creek 3799">Big Pats Creek 3799</option>
                    <option value="Bittern 3918">Bittern 3918</option>
                    <option value="Black Rock 3193">Black Rock 3193</option>
                    <option value="Blackburn 3130">Blackburn 3130</option>
                    <option value="Blackburn North 3130">Blackburn North 3130</option>
                    <option value="Blackburn South 3130">Blackburn South 3130</option>
                    <option value="Blairgowrie 3942">Blairgowrie 3942</option>
                    <option value="Blind Bight 3980">Blind Bight 3980</option>
                    <option value="Bonbeach 3196">Bonbeach 3196</option>
                    <option value="Boneo 3939">Boneo 3939</option>
                    <option value="Boronia 3155">Boronia 3155</option>
                    <option value="Botanic Ridge 3977">Botanic Ridge 3977</option>
                    <option value="Box Hill 3128">Box Hill 3128</option>
                    <option value="Box Hill North 3129">Box Hill North 3129</option>
                    <option value="Box Hill South 3128">Box Hill South 3128</option>
                    <option value="Braeside 3195">Braeside 3195</option>
                    <option value="Braybrook 3019">Braybrook 3019</option>
                    <option value="Briar Hill 3088">Briar Hill 3088</option>
                    <option value="Brighton 3186">Brighton 3186</option>
                    <option value="Brighton East 3187">Brighton East 3187</option>
                    <option value="Broadmeadows 3047">Broadmeadows 3047</option>
                    <option value="Brookfield 3338">Brookfield 3338</option>
                    <option value="Brooklyn 3012">Brooklyn 3012</option>
                    <option value="Brunswick 3056">Brunswick 3056</option>
                    <option value="Brunswick East 3057">Brunswick East 3057</option>
                    <option value="Brunswick West 3055">Brunswick West 3055</option>
                    <option value="Bulla 3428">Bulla 3428</option>
                    <option value="Bulleen 3105">Bulleen 3105</option>
                    <option value="Bundoora 3083">Bundoora 3083</option>
                    <option value="Bunyip 3815">Bunyip 3815</option>
                    <option value="Bunyip North 3815">Bunyip North 3815</option>
                    <option value="Burnley 3121">Burnley 3121</option>
                    <option value="Burnside 3023">Burnside 3023</option>
                    <option value="Burnside Heights 3023">Burnside Heights 3023</option>
                    <option value="Burwood 3125">Burwood 3125</option>
                    <option value="Burwood East 3151">Burwood East 3151</option>
                    <option value="Cairnlea 3023">Cairnlea 3023</option>
                    <option value="Calder Park 3037">Calder Park 3037</option>
                    <option value="Caldermeade 3984">Caldermeade 3984</option>
                    <option value="Cambarville 3779">Cambarville 3779</option>
                    <option value="Camberwell 3124">Camberwell 3124</option>
                    <option value="Campbellfield 3061">Campbellfield 3061</option>
                    <option value="Cannons Creek 3977">Cannons Creek 3977</option>
                    <option value="Canterbury 3126">Canterbury 3126</option>
                    <option value="Cape Schanck 3939">Cape Schanck 3939</option>
                    <option value="Capel Sound 3940">Capel Sound 3940</option>
                    <option value="Cardinia 3978">Cardinia 3978</option>
                    <option value="Carlton 3053">Carlton 3053</option>
                    <option value="Carlton North 3054 ">Carlton North 3054</option>
                    <option value="Carlton North 3054">Carlton North 3054 </option>
                    <option value="Carnegie 3163">Carnegie 3163</option>
                    <option value="Caroline Springs 3023">Caroline Springs 3023</option>
                    <option value="Carrum 3197">Carrum 3197</option>
                    <option value="Carrum Downs 3201">Carrum Downs 3201</option>
                    <option value="Catani 3981">Catani 3981</option>
                    <option value="Caulfield 3162">Caulfield 3162</option>
                    <option value="Caulfield East 3145">Caulfield East 3145</option>
                    <option value="Caulfield North 3161">Caulfield North 3161</option>
                    <option value="Caulfield South 3162">Caulfield South 3162</option>
                    <option value="Central Langwarrin 3910">Central Langwarrin 3910</option>
                    <option value="Chadstone 3148">Chadstone 3148</option>
                    <option value="Chelsea 3196">Chelsea 3196</option>
                    <option value="Chelsea Heights 3196">Chelsea Heights 3196</option>
                    <option value="Cheltenham 3192">Cheltenham 3192</option>
                    <option value="Chirnside Park 3116">Chirnside Park 3116</option>
                    <option value="Christmas Hills 3775">Christmas Hills 3775</option>
                    <option value="Chum Creek 3777">Chum Creek 3777</option>
                    <option value="City of Maribyrnong">City of Maribyrnong</option>
                    <option value="Clarinda 3169">Clarinda 3169</option>
                    <option value="Clarkefield 3430">Clarkefield 3430</option>
                    <option value="Clayton 3168">Clayton 3168</option>
                    <option value="Clayton South 3169">Clayton South 3169</option>
                    <option value="Clematis 3782">Clematis 3782</option>
                    <option value="Clifton Hill 3068">Clifton Hill 3068</option>
                    <option value="Clyde 3978">Clyde 3978</option>
                    <option value="Clyde North 3978">Clyde North 3978</option>
                    <option value="Coburg 3058 ">Coburg 3058</option>
                    <option value="Coburg 3058">Coburg 3058 </option>
                    <option value="Coburg North 3058 ">Coburg North 3058</option>
                    <option value="Coburg North 3058">Coburg North 3058 </option>
                    <option value="Cockatoo 3781">Cockatoo 3781</option>
                    <option value="Cocoroc 3030">Cocoroc 3030</option>
                    <option value="Coldstream 3770">Coldstream 3770</option>
                    <option value="Coldstream West">Coldstream West</option>
                    <option value="Collingwood 3066">Collingwood 3066</option>
                    <option value="Coolaroo 3048">Coolaroo 3048</option>
                    <option value="Cora Lynn 3814">Cora Lynn 3814</option>
                    <option value="Cottles Bridge 3099">Cottles Bridge 3099</option>
                    <option value="Craigieburn 3064">Craigieburn 3064</option>
                    <option value="Cranbourne 3977">Cranbourne 3977</option>
                    <option value="Cranbourne East 3977">Cranbourne East 3977</option>
                    <option value="Cranbourne North 3977">Cranbourne North 3977</option>
                    <option value="Cranbourne South 3977">Cranbourne South 3977</option>
                    <option value="Cranbourne West 3977">Cranbourne West 3977</option>
                    <option value="Cremorne 3121">Cremorne 3121</option>
                    <option value="Crib Point 3919">Crib Point 3919</option>
                    <option value="Croydon 3136">Croydon 3136</option>
                    <option value="Croydon Hills 3136">Croydon Hills 3136</option>
                    <option value="Croydon North 3136">Croydon North 3136</option>
                    <option value="Croydon South 3136">Croydon South 3136</option>
                    <option value="Dallas 3047">Dallas 3047</option>
                    <option value="Dalmore 3981">Dalmore 3981</option>
                    <option value="Dandenong 3175">Dandenong 3175</option>
                    <option value="Dandenong North 3175">Dandenong North 3175</option>
                    <option value="Dandenong South 3175">Dandenong South 3175</option>
                    <option value="Deepdene 3103">Deepdene 3103</option>
                    <option value="Deer Park 3023">Deer Park 3023</option>
                    <option value="Delahey 3037">Delahey 3037</option>
                    <option value="Derrimut 3026">Derrimut 3026</option>
                    <option value="Devon Meadows 3977">Devon Meadows 3977</option>
                    <option value="Dewhurst 3809">Dewhurst 3809</option>
                    <option value="Diamond Creek 3089">Diamond Creek 3089</option>
                    <option value="Diggers Rest 3427">Diggers Rest 3427</option>
                    <option value="Dingley Village 3172">Dingley Village 3172</option>
                    <option value="Dixons Creek 3775">Dixons Creek 3775</option>
                    <option value="Docklands 3008">Docklands 3008</option>
                    <option value="Don Valley 3139">Don Valley 3139</option>
                    <option value="Doncaster 3108">Doncaster 3108</option>
                    <option value="Doncaster East 3109">Doncaster East 3109</option>
                    <option value="Donnybrook 3064">Donnybrook 3064</option>
                    <option value="Donvale 3111">Donvale 3111</option>
                    <option value="Doreen 3754">Doreen 3754</option>
                    <option value="Doveton 3177">Doveton 3177</option>
                    <option value="Dromana 3936">Dromana 3936</option>
                    <option value="Dromana South">Dromana South</option>
                    <option value="Eaglemont 3084">Eaglemont 3084</option>
                    <option value="East Melbourne 3002">East Melbourne 3002</option>
                    <option value="Eden Park 3757">Eden Park 3757</option>
                    <option value="Edithvale 3196">Edithvale 3196</option>
                    <option value="Elsternwick 3185">Elsternwick 3185</option>
                    <option value="Eltham 3095">Eltham 3095</option>
                    <option value="Eltham North 3095">Eltham North 3095</option>
                    <option value="Elwood 3184">Elwood 3184</option>
                    <option value="Emerald 3782">Emerald 3782</option>
                    <option value="Endeavour Hills 3802">Endeavour Hills 3802</option>
                    <option value="Epping 3076">Epping 3076</option>
                    <option value="Essendon 3040">Essendon 3040</option>
                    <option value="Essendon Fields 3041">Essendon Fields 3041</option>
                    <option value="Essendon North 3041">Essendon North 3041</option>
                    <option value="Essendon West 3040">Essendon West 3040</option>
                    <option value="Eumemmerring 3177">Eumemmerring 3177</option>
                    <option value="Exford 3338">Exford 3338</option>
                    <option value="Eynesbury 3338">Eynesbury 3338</option>
                    <option value="Fairfield 3078">Fairfield 3078</option>
                    <option value="Fawkner 3060">Fawkner 3060</option>
                    <option value="Fernshaw 3778">Fernshaw 3778</option>
                    <option value="Ferntree Gully 3156">Ferntree Gully 3156</option>
                    <option value="Ferny Creek 3786">Ferny Creek 3786</option>
                    <option value="Fingal 3939">Fingal 3939</option>
                    <option value="Fitzroy 3065">Fitzroy 3065</option>
                    <option value="Fitzroy North 3068">Fitzroy North 3068</option>
                    <option value="Flemington 3031 ">Flemington 3031 </option>
                    <option value="Flemington, Victoria 3031">Flemington, Victoria 3031</option>
                    <option value="Flinders 3929">Flinders 3929</option>
                    <option value="Footscray 3011">Footscray 3011</option>
                    <option value="Forest Hill 3131">Forest Hill 3131</option>
                    <option value="Frankston 3199">Frankston 3199</option>
                    <option value="Frankston North 3200">Frankston North 3200</option>
                    <option value="Frankston South 3199">Frankston South 3199</option>
                    <option value="Gardenvale 3185">Gardenvale 3185</option>
                    <option value="Garfield 3814">Garfield 3814</option>
                    <option value="Garfield North 3814">Garfield North 3814</option>
                    <option value="Gembrook 3783">Gembrook 3783</option>
                    <option value="Gilderoy 3797">Gilderoy 3797</option>
                    <option value="Gladstone Park 3043">Gladstone Park 3043</option>
                    <option value="Gladysdale 3797">Gladysdale 3797</option>
                    <option value="Glen Huntly 3163">Glen Huntly 3163</option>
                    <option value="Glen Iris 3146">Glen Iris 3146</option>
                    <option value="Glen Waverley 3150">Glen Waverley 3150</option>
                    <option value="Glenroy 3046">Glenroy 3046</option>
                    <option value="Gowanbrae 3043">Gowanbrae 3043</option>
                    <option value="Greensborough 3088">Greensborough 3088</option>
                    <option value="Greenvale 3059">Greenvale 3059</option>
                    <option value="Gruyere 3770">Gruyere 3770</option>
                    <option value="Guys Hill 3807">Guys Hill 3807</option>
                    <option value="HMAS Cerberus 3920">HMAS Cerberus 3920</option>
                    <option value="Hadfield 3046">Hadfield 3046</option>
                    <option value="Hallam 3803">Hallam 3803</option>
                    <option value="Hampton 3188">Hampton 3188</option>
                    <option value="Hampton East 3188">Hampton East 3188</option>
                    <option value="Hampton Park 3976">Hampton Park 3976</option>
                    <option value="Harkaway 3806">Harkaway 3806</option>
                    <option value="Harmony Vale">Harmony Vale</option>
                    <option value="Hastings 3915">Hastings 3915</option>
                    <option value="Hawthorn 3122">Hawthorn 3122</option>
                    <option value="Hawthorn East 3123">Hawthorn East 3123</option>
                    <option value="Healesville 3777">Healesville 3777</option>
                    <option value="Heath Hill 3981">Heath Hill 3981</option>
                    <option value="Heatherton 3202">Heatherton 3202</option>
                    <option value="Heathmont 3135">Heathmont 3135</option>
                    <option value="Heidelberg 3084">Heidelberg 3084</option>
                    <option value="Heidelberg Heights 3081">Heidelberg Heights 3081</option>
                    <option value="Heidelberg West 3081">Heidelberg West 3081</option>
                    <option value="Highett 3190">Highett 3190</option>
                    <option value="Hillside 3037 ">Hillside 3037</option>
                    <option value="Hillside 3037">Hillside 3037 </option>
                    <option value="Hoddles Creek 3139">Hoddles Creek 3139</option>
                    <option value="Hoppers Crossing 3029">Hoppers Crossing 3029</option>
                    <option value="Hughesdale 3166">Hughesdale 3166</option>
                    <option value="Humevale 3757">Humevale 3757</option>
                    <option value="Huntingdale 3166">Huntingdale 3166</option>
                    <option value="Hurstbridge 3099">Hurstbridge 3099</option>
                    <option value="Iona 3815">Iona 3815</option>
                    <option value="Ivanhoe 3079">Ivanhoe 3079</option>
                    <option value="Ivanhoe East 3079">Ivanhoe East 3079</option>
                    <option value="Jacana 3047">Jacana 3047</option>
                    <option value="Junction Village 3977">Junction Village 3977</option>
                    <option value="Kalkallo 3064">Kalkallo 3064</option>
                    <option value="Kallista 3791">Kallista 3791</option>
                    <option value="Kalorama 3766">Kalorama 3766</option>
                    <option value="Kangaroo Ground 3097">Kangaroo Ground 3097</option>
                    <option value="Kangaroo Ground South">Kangaroo Ground South</option>
                    <option value="Kealba 3021">Kealba 3021</option>
                    <option value="Keilor 3036">Keilor 3036</option>
                    <option value="Keilor Downs 3038">Keilor Downs 3038</option>
                    <option value="Keilor East 3033">Keilor East 3033</option>
                    <option value="Keilor Lodge 3038">Keilor Lodge 3038</option>
                    <option value="Keilor North 3036">Keilor North 3036</option>
                    <option value="Keilor Park 3042">Keilor Park 3042</option>
                    <option value="Kensington 3031">Kensington 3031</option>
                    <option value="Kew 3101">Kew 3101</option>
                    <option value="Kew East 3102">Kew East 3102</option>
                    <option value="Kilsyth 3137">Kilsyth 3137</option>
                    <option value="Kilsyth South 3137">Kilsyth South 3137</option>
                    <option value="Kinglake 3763 ">Kinglake 3763 </option>
                    <option value="Kinglake West 3778 ">Kinglake West 3778</option>
                    <option value="Kinglake West 3778">Kinglake West 3778 </option>
                    <option value="Kings Park 3021">Kings Park 3021</option>
                    <option value="Kingsbury 3083">Kingsbury 3083</option>
                    <option value="Kingsville 3012">Kingsville 3012</option>
                    <option value="Knoxfield 3180">Knoxfield 3180</option>
                    <option value="Koo Wee Rup 3981">Koo Wee Rup 3981</option>
                    <option value="Koo Wee Rup North 3891">Koo Wee Rup North 3891</option>
                    <option value="Kooyong 3144">Kooyong 3144</option>
                    <option value="Kurunjang 3337">Kurunjang 3337</option>
                    <option value="Lalor 3075">Lalor 3075</option>
                    <option value="Lang Lang 3984">Lang Lang 3984</option>
                    <option value="Lang Lang East 3894">Lang Lang East 3894</option>
                    <option value="Langwarrin South 3911">Langwarrin South 3911</option>
                    <option value="Launching Place 3139">Launching Place 3139</option>
                    <option value="Laverton 3028 ">Laverton 3028 </option>
                    <option value="Laverton North 3026">Laverton North 3026</option>
                    <option value="Lilydale 3140">Lilydale 3140</option>
                    <option value="Little River 3211 ">Little River 3211 </option>
                    <option value="Longwarry 3816">Longwarry 3816</option>
                    <option value="Lower Plenty 3093">Lower Plenty 3093</option>
                    <option value="Lynbrook 3975">Lynbrook 3975</option>
                    <option value="Lyndhurst 3975 ">Lyndhurst 3975 </option>
                    <option value="Lysterfield 3156">Lysterfield 3156</option>
                    <option value="Lysterfield South 3156">Lysterfield South 3156</option>
                    <option value="Macclesfield 3782">Macclesfield 3782</option>
                    <option value="Macleod 3085">Macleod 3085</option>
                    <option value="Maidstone 3012">Maidstone 3012</option>
                    <option value="Main Ridge 3928">Main Ridge 3928</option>
                    <option value="Malvern 3144">Malvern 3144</option>
                    <option value="Malvern East 3145">Malvern East 3145</option>
                    <option value="Mambourin 3024">Mambourin 3024</option>
                    <option value="Manor Lakes 3024">Manor Lakes 3024</option>
                    <option value="Maribyrnong 3032">Maribyrnong 3032</option>
                    <option value="Maryknoll 3812">Maryknoll 3812</option>
                    <option value="Matlock 3723">Matlock 3723</option>
                    <option value="McCrae 3938">McCrae 3938</option>
                    <option value="McKinnon 3204">McKinnon 3204</option>
                    <option value="McMahons Creek 3799">McMahons Creek 3799</option>
                    <option value="Meadow Heights 3048">Meadow Heights 3048</option>
                    <option value="Melbourne 3000">Melbourne 3000</option>
                    <option value="Melbourne 3004 ">Melbourne 3004</option>
                    <option value="Melbourne 3004">Melbourne 3004 </option>
                    <option value="Melbourne Airport 3045">Melbourne Airport 3045</option>
                    <option value="Melton 3337">Melton 3337</option>
                    <option value="Melton South 3338">Melton South 3338</option>
                    <option value="Melton West 3337">Melton West 3337</option>
                    <option value="Mentone 3194">Mentone 3194</option>
                    <option value="Menzies Creek 3159">Menzies Creek 3159</option>
                    <option value="Mernda 3754">Mernda 3754</option>
                    <option value="Merricks 3916">Merricks 3916</option>
                    <option value="Merricks Beach 3926">Merricks Beach 3926</option>
                    <option value="Merricks North 3926">Merricks North 3926</option>
                    <option value="Mickleham 3064">Mickleham 3064</option>
                    <option value="Middle Park 3206">Middle Park 3206</option>
                    <option value="Mill Park 3082">Mill Park 3082</option>
                    <option value="Millgrove 3799">Millgrove 3799</option>
                    <option value="Mitcham 3132">Mitcham 3132</option>
                    <option value="Modella 3816">Modella 3816</option>
                    <option value="Monash University 3800">Monash University 3800</option>
                    <option value="Monbulk 3793">Monbulk 3793</option>
                    <option value="Monomeith 3984">Monomeith 3984</option>
                    <option value="Mont Albert 3127">Mont Albert 3127</option>
                    <option value="Mont Albert North 3129">Mont Albert North 3129</option>
                    <option value="Montmorency 3094">Montmorency 3094</option>
                    <option value="Montrose 3765">Montrose 3765</option>
                    <option value="Moonee Ponds 3039">Moonee Ponds 3039</option>
                    <option value="Moorabbin 3189">Moorabbin 3189</option>
                    <option value="Moorabbin Airport 3194">Moorabbin Airport 3194</option>
                    <option value="Moorooduc 3933">Moorooduc 3933</option>
                    <option value="Mooroolbark 3138">Mooroolbark 3138</option>
                    <option value="Mordialloc 3195">Mordialloc 3195</option>
                    <option value="Mornington 3931">Mornington 3931</option>
                    <option value="Mount Burnett 3781">Mount Burnett 3781</option>
                    <option value="Mount Cottrell 3024 ">Mount Cottrell 3024 </option>
                    <option value="Mount Dandenong 3767">Mount Dandenong 3767</option>
                    <option value="Mount Eliza 3930">Mount Eliza 3930</option>
                    <option value="Mount Evelyn 3796">Mount Evelyn 3796</option>
                    <option value="Mount Martha 3934">Mount Martha 3934</option>
                    <option value="Mount Toolebewong 3777">Mount Toolebewong 3777</option>
                    <option value="Mount Waverley 3149">Mount Waverley 3149</option>
                    <option value="Mulgrave 3170">Mulgrave 3170</option>
                    <option value="Murrumbeena 3163">Murrumbeena 3163</option>
                    <option value="Nangana 3781">Nangana 3781</option>
                    <option value="Nar Nar Goon 3812">Nar Nar Goon 3812</option>
                    <option value="Nar Nar Goon North 3812">Nar Nar Goon North 3812</option>
                    <option value="Narre Warren 3805">Narre Warren 3805</option>
                    <option value="Narre Warren East 3804">Narre Warren East 3804</option>
                    <option value="Narre Warren North 3804">Narre Warren North 3804</option>
                    <option value="Narre Warren South 3805">Narre Warren South 3805</option>
                    <option value="Nathania Springs">Nathania Springs</option>
                    <option value="Newport 3015">Newport 3015</option>
                    <option value="Niddrie 3042">Niddrie 3042</option>
                    <option value="Noble Park 3174">Noble Park 3174</option>
                    <option value="Noble Park North 3174">Noble Park North 3174</option>
                    <option value="North Melbourne 3051">North Melbourne 3051</option>
                    <option value="North Warrandyte 3113">North Warrandyte 3113</option>
                    <option value="Northcote 3070">Northcote 3070</option>
                    <option value="Northern & Central Keysborough 3173">Northern & Central Keysborough 3173</option>
                    <option value="Northern & Southern Langwarrin 3910">Northern & Southern Langwarrin 3910</option>
                    <option value="Notting Hill 3168">Notting Hill 3168</option>
                    <option value="Nunawading 3131">Nunawading 3131</option>
                    <option value="Nutfield 3099">Nutfield 3099</option>
                    <option value="Nyora 3987">Nyora 3987</option>
                    <option value="Oak Park 3046">Oak Park 3046</option>
                    <option value="Oaklands Junction 3063">Oaklands Junction 3063</option>
                    <option value="Oakleigh 3166">Oakleigh 3166</option>
                    <option value="Oakleigh East 3166">Oakleigh East 3166</option>
                    <option value="Oakleigh South 3167">Oakleigh South 3167</option>
                    <option value="Officer 3809">Officer 3809</option>
                    <option value="Officer South 3809">Officer South 3809</option>
                    <option value="Olinda 3788">Olinda 3788</option>
                    <option value="Ormond 3204">Ormond 3204</option>
                    <option value="Pakenham 3810">Pakenham 3810</option>
                    <option value="Pakenham South 3810">Pakenham South 3810</option>
                    <option value="Pakenham Upper 3810">Pakenham Upper 3810</option>
                    <option value="Panton Hill 3759">Panton Hill 3759</option>
                    <option value="Park Orchards 3114">Park Orchards 3114</option>
                    <option value="Parkdale 3195">Parkdale 3195</option>
                    <option value="Parkville 3052">Parkville 3052</option>
                    <option value="Parwan 3340">Parwan 3340</option>
                    <option value="Pascoe Vale 3044">Pascoe Vale 3044</option>
                    <option value="Pascoe Vale South 3044">Pascoe Vale South 3044</option>
                    <option value="Patterson Lakes 3197">Patterson Lakes 3197</option>
                    <option value="Pearcedale 3912">Pearcedale 3912</option>
                    <option value="Plenty 3090">Plenty 3090</option>
                    <option value="Plumpton 3335">Plumpton 3335</option>
                    <option value="Point Cook 3030">Point Cook 3030</option>
                    <option value="Point Leo 3916">Point Leo 3916</option>
                    <option value="Port Melbourne 3207">Port Melbourne 3207</option>
                    <option value="Portsea 3944">Portsea 3944</option>
                    <option value="Powelltown 3797">Powelltown 3797</option>
                    <option value="Prahran 3181">Prahran 3181</option>
                    <option value="Preston 3072">Preston 3072</option>
                    <option value="Princes Hill 3054">Princes Hill 3054</option>
                    <option value="Quandong 3340">Quandong 3340</option>
                    <option value="Ravenhall 3023">Ravenhall 3023</option>
                    <option value="Red Hill 3937">Red Hill 3937</option>
                    <option value="Red Hill South 3937">Red Hill South 3937</option>
                    <option value="Reefton 3799">Reefton 3799</option>
                    <option value="Research 3095">Research 3095</option>
                    <option value="Reservoir 3073">Reservoir 3073</option>
                    <option value="Richmond 3121">Richmond 3121</option>
                    <option value="Ringwood 3134">Ringwood 3134</option>
                    <option value="Ringwood East 3135">Ringwood East 3135</option>
                    <option value="Ringwood North 3134">Ringwood North 3134</option>
                    <option value="Ripponlea 3185">Ripponlea 3185</option>
                    <option value="Rockbank 3335">Rockbank 3335</option>
                    <option value="Rosanna 3084">Rosanna 3084</option>
                    <option value="Rosebud 3939">Rosebud 3939</option>
                    <option value="Rowville 3178">Rowville 3178</option>
                    <option value="Roxburgh Park 3064">Roxburgh Park 3064</option>
                    <option value="Rye 3941">Rye 3941</option>
                    <option value="Rythdale 3810">Rythdale 3810</option>
                    <option value="Safety Beach 3936">Safety Beach 3936</option>
                    <option value="Sandhurst 3977">Sandhurst 3977</option>
                    <option value="Sandringham 3191">Sandringham 3191</option>
                    <option value="Sassafras 3787">Sassafras 3787</option>
                    <option value="Scoresby 3179">Scoresby 3179</option>
                    <option value="Seabrook 3028">Seabrook 3028</option>
                    <option value="Seaford 3198">Seaford 3198</option>
                    <option value="Seaholme 3018">Seaholme 3018</option>
                    <option value="Seddon 3011">Seddon 3011</option>
                    <option value="Selby 3159">Selby 3159</option>
                    <option value="Seville 3139">Seville 3139</option>
                    <option value="Seville East 3139">Seville East 3139</option>
                    <option value="Sherbrooke 3789">Sherbrooke 3789</option>
                    <option value="Shoreham 3916">Shoreham 3916</option>
                    <option value="Silvan 3795">Silvan 3795</option>
                    <option value="Skye 3977">Skye 3977</option>
                    <option value="Smiths Gully 3760">Smiths Gully 3760</option>
                    <option value="Somers 3927">Somers 3927</option>
                    <option value="Somerton 3062">Somerton 3062</option>
                    <option value="Somerville 3912">Somerville 3912</option>
                    <option value="Sorrento 3943">Sorrento 3943</option>
                    <option value="South Kingsville 3015">South Kingsville 3015</option>
                    <option value="South Melbourne 3205">South Melbourne 3205</option>
                    <option value="South Morang 3752">South Morang 3752</option>
                    <option value="South Wharf 3006">South Wharf 3006</option>
                    <option value="South Yarra 3141">South Yarra 3141</option>
                    <option value="Southbank 3006">Southbank 3006</option>
                    <option value="Southern Keysborough 3173">Southern Keysborough 3173</option>
                    <option value="Spotswood 3015">Spotswood 3015</option>
                    <option value="Springvale 3171">Springvale 3171</option>
                    <option value="Springvale South 3172">Springvale South 3172</option>
                    <option value="St Albans 3021">St Albans 3021</option>
                    <option value="St Andrews 3761">St Andrews 3761</option>
                    <option value="St Helena 3088">St Helena 3088</option>
                    <option value="St Kilda 3182">St Kilda 3182</option>
                    <option value="St Kilda East 3183">St Kilda East 3183</option>
                    <option value="St Kilda West 3182">St Kilda West 3182</option>
                    <option value="Steels Creek 3775">Steels Creek 3775</option>
                    <option value="Strathewen 3099">Strathewen 3099</option>
                    <option value="Strathmore 3041">Strathmore 3041</option>
                    <option value="Strathmore Heights 3041">Strathmore Heights 3041</option>
                    <option value="Sunbury 3429 ">Sunbury 3429 </option>
                    <option value="Sunshine 3020">Sunshine 3020</option>
                    <option value="Sunshine North 3020">Sunshine North 3020</option>
                    <option value="Sunshine West 3020">Sunshine West 3020</option>
                    <option value="Surrey Hills 3127">Surrey Hills 3127</option>
                    <option value="Sydenham 3037">Sydenham 3037</option>
                    <option value="Tarneit 3029">Tarneit 3029</option>
                    <option value="Tarrawarra 3775">Tarrawarra 3775</option>
                    <option value="Taylors Lakes 3038">Taylors Lakes 3038</option>
                    <option value="Tecoma 3160">Tecoma 3160</option>
                    <option value="Templestowe 3106">Templestowe 3106</option>
                    <option value="Templestowe Lower 3107">Templestowe Lower 3107</option>
                    <option value="The Basin 3154">The Basin 3154</option>
                    <option value="The Patch 3792">The Patch 3792</option>
                    <option value="Thomastown 3074">Thomastown 3074</option>
                    <option value="Thornbury 3071">Thornbury 3071</option>
                    <option value="Three Bridges 3797">Three Bridges 3797</option>
                    <option value="Tonimbuk 3815">Tonimbuk 3815</option>
                    <option value="Toolangi 3777">Toolangi 3777</option>
                    <option value="Toolern Vale 3337">Toolern Vale 3337</option>
                    <option value="Tooradin 3980">Tooradin 3980</option>
                    <option value="Tooradin North 3977">Tooradin North 3977</option>
                    <option value="Toorak 3142">Toorak 3142</option>
                    <option value="Toorongo 3833">Toorongo 3833</option>
                    <option value="Tootgarook 3941">Tootgarook 3941</option>
                    <option value="Tottenham 3012">Tottenham 3012</option>
                    <option value="Travancore 3032">Travancore 3032</option>
                    <option value="Tremont 3785">Tremont 3785</option>
                    <option value="Truganina 3029 ">Truganina 3029 </option>
                    <option value="Tuerong 3915">Tuerong 3915</option>
                    <option value="Tullamarine 3043 ">Tullamarine 3043 </option>
                    <option value="Tyabb 3913">Tyabb 3913</option>
                    <option value="Tynong 3813">Tynong 3813</option>
                    <option value="Tynong North 3813">Tynong North 3813</option>
                    <option value="Upper Ferntree Gully 3156">Upper Ferntree Gully 3156</option>
                    <option value="Vermont 3133">Vermont 3133</option>
                    <option value="Vermont South 3133">Vermont South 3133</option>
                    <option value="Vervale 3814">Vervale 3814</option>
                    <option value="Viewbank 3084">Viewbank 3084</option>
                    <option value="Wandin East 3139">Wandin East 3139</option>
                    <option value="Wandin North 3139">Wandin North 3139</option>
                    <option value="Wantirna 3152">Wantirna 3152</option>
                    <option value="Wantirna South 3152">Wantirna South 3152</option>
                    <option value="Warburton 3799">Warburton 3799</option>
                    <option value="Warburton East 3799">Warburton East 3799</option>
                    <option value="Warneet 3980">Warneet 3980</option>
                    <option value="Warrandyte 3113">Warrandyte 3113</option>
                    <option value="Warrandyte South 3134">Warrandyte South 3134</option>
                    <option value="Warranwood 3134">Warranwood 3134</option>
                    <option value="Watergardens">Watergardens</option>
                    <option value="Waterways 3195">Waterways 3195</option>
                    <option value="Watsonia 3087">Watsonia 3087</option>
                    <option value="Watsonia North 3087">Watsonia North 3087</option>
                    <option value="Watsons Creek 3097">Watsons Creek 3097</option>
                    <option value="Wattle Glen 3096">Wattle Glen 3096</option>
                    <option value="Werribee 3030">Werribee 3030</option>
                    <option value="Werribee South 3030">Werribee South 3030</option>
                    <option value="Wesburn 3799">Wesburn 3799</option>
                    <option value="West Footscray 3012">West Footscray 3012</option>
                    <option value="West Melbourne 3003">West Melbourne 3003</option>
                    <option value="Westmeadows 3049">Westmeadows 3049</option>
                    <option value="Wheelers Hill 3150">Wheelers Hill 3150</option>
                    <option value="Whittlesea 3757">Whittlesea 3757</option>
                    <option value="Wildwood 3429">Wildwood 3429</option>
                    <option value="Williams Landing 3027">Williams Landing 3027</option>
                    <option value="Williamstown 3016">Williamstown 3016</option>
                    <option value="Williamstown North 3016">Williamstown North 3016</option>
                    <option value="Windsor 3181">Windsor 3181</option>
                    <option value="Wollert 3750">Wollert 3750</option>
                    <option value="Wonga Park 3115">Wonga Park 3115</option>
                    <option value="Woodstock 3755">Woodstock 3755</option>
                    <option value="Woori Yallock 3139">Woori Yallock 3139</option>
                    <option value="Wyndham Vale 3024">Wyndham Vale 3024</option>
                    <option value="Yallambie 3085">Yallambie 3085</option>
                    <option value="Yan Yean 3755">Yan Yean 3755</option>
                    <option value="Yannathan 3894">Yannathan 3894</option>
                    <option value="Yarra Glen 3775">Yarra Glen 3775</option>
                    <option value="Yarra Junction 3797">Yarra Junction 3797</option>
                    <option value="Yarrambat 3091">Yarrambat 3091</option>
                    <option value="Yarraville 3013">Yarraville 3013</option>
                    <option value="Yellingbo 3139">Yellingbo 3139</option>
                    <option value="Yering 3770">Yering 3770</option>
                    <option value="Yuroke 3063">Yuroke 3063</option>
                                        
            </select>
        </div>

        <div class ="mb-3 ms-3 me-3">
            <label for="rating" class="form-label">Please rate safety of place out of 5 with "1" being the most unsafe and "5" being the safest</label>
            <div class= "form-check">
                <input class = "form-check-input" type = "radio" id ="one" name = "rating" value = 1>
                <label class = "form-check-label" for=1>1</label>
            </div>
            <div class= "form-check">
                <input class = "form-check-input" type = "radio" id ="two" name = "rating" value = 2>
                <label class = "form-check-label" for=2>2</label>
            </div>
            <div class= "form-check">
                <input class = "form-check-input" type = "radio" id ="three" name = "rating" value = 3>
                <label class = "form-check-label" for=3>3</label>
            </div>
            <div class= "form-check">
                <input class = "form-check-input" type = "radio" id ="four" name = "rating" value = 4>
                <label class = "form-check-label" for=4>4</label>
            </div>  
            <div class= "form-check">
                <input class = "form-check-input" type = "radio" id ="five" name = "rating" value = 5>
                <label class = "form-check-label" for=5>5</label>
            </div>
        </div>  

        <div class ="mb-3 ms-3 me-3">
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" placeholder="Post content"
                        class="form-control">{{ request.form['content'] }}</textarea>
            </div>
        </div>

        <div class ="mb-3 ms-3 me-3">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}